 .page {
            width: 100%;
            height: 500px;
        }

        .header {
            height: 20%;
            width: 100%;
            float: left;
        }

        .windows {

            float: left;
            width: 20%;
        }


        .login {
            padding-right: 50px;
            float: right;
            color: blue;
            font-size: 30px;
        }

        .content {
            float: left;
            width: 100%;
            height: 50vh;
        }

        .bar {
            float: left;
            width: 20%;
           height: 400px;
           
        }
        .sidebar{
            border-bottom: 2px solid yellowgreen;   
            background-color: red;
            height: 20px;
            text-align: center;

        }
        .home{
         border-bottom: 2px solid yellowgreen;
         height: 60px;
         background-color: red;
          text-align: center;


        }
        .placement{
         border-bottom: 2px solid yellowgreen;
         height: 60px;
         background-color: red;
         text-align: center;
        }
        .recruitment{
            border-bottom: 2px solid yellowgreen;
           height: 60px;
            background-color: red;
             text-align: center;

        }
        .faculty{
        height: 60px;
             background-color: red;
             border-bottom: 2px solid yellowgreen;
              text-align: center;

             
        }
        .news{
             height: 60px;
             background-color: red;         
             border-bottom: 2px solid yellowgreen;
              text-align: center;

            
        }
        .mainbar {
            float: right;
            width: 78%;
            height: 400px;
           
        }
        .footer{
            height: 70px; 
            width: 95%; 
            background-color: blue; 
            color: white; 
            float: left;
            text-align: center; 
            font-size: larger;

        }